@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);


* {
	box-sizing: border-box;
	vertical-align: middle;
	font-family: 'Noto Sans TC', sans-serif;
}
.bg-primary {
	background-color: #751d27;
}
#stickyHead {
	background-color: #FAFAFA;
	border-color: #931619;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.pd0 {
	padding: 0px;
}

img {
	width: 100%;
	height: auto;

}
img#logo {
	width: auto;
	max-width: 100%;
	height: 100%;
	vertical-align: middle;
}
img#logoxs {
	width:auto;
	height:100%;
	max-height: 96px;
	vertical-align: middle;
}

body {
	color: #262626;
	font-size: 16px;
	line-height: 30px;
	font-family: sans-serif;
}
nav li {
	list-style: none;
}
.panel-body {
	padding-left: 5%;
	padding-right: 5%;
}
.btn-success {
	width: 72px;
	padding: 5px 10px;
	border-radius: 15px;
	border: 1px;
	color: #DFDFDF;
	background-color: #751d27;
	margin-right: 5%;
}
.btn-success:hover {
	background-color: #932629;
}
.btn-success:active:after {
	background-color: #751d27;
}
button.cta {
	border-radius:0px;
}

a:link, a:visited {	
	text-decoration: none;
	color: #262626;
	display: block;
	border: 1px solid;
	width: 100px;
	text-align: center;
	margin-bottom: 1px;
}
/*Sticky Header*/
.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 0px;
}

label.control-label {
	font-size: 16px;
	padding: 10px;
}

body.container-fluid {
	font-size: 4vw;
	line-height: 1.5;
}